# Node modules
node_modules/

# Build output
dist/
build/
out/ # If using a custom output directory in tsconfig.json

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.user
*.bak

# Environment variables
.env
.env.local
.env.*.local